
body{
    direction: rtl;
    text-align: right;
    font-size: 14px;
}
.navbar-nav{
    margin-left: initial !important;
    margin-right: auto;
}
.post-meta{
    text-align: left;
}

.pager-botton{
    float: left !important;

}

header.masthead .site-heading h1{
font-size: 40px;
}

.post-title{
    font-size: 20px !important;
}

.post-subtitle{
    font-size: 20px;
}









/** code by webdevtrick ( https://webdevtrick.com ) 
body {
	background: #212121;
	font-size:22px;
	line-height: 32px;
	color: #ffffff;
	word-wrap:break-word !important;
    font-family: 'Quicksand', sans-serif;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 60px;
	text-align: center;
	color: #FFF;
	margin-top: 150px;
    font-family: 'Russo One', sans-serif;
	}
h1 span {
	color: #FF4649;
}
#container {
	margin: 0 auto;
}

nav {
	margin: 35px 0;
	background-color: #FF4649;
}
nav ul {
	padding: 0;
        margin: 0;
	list-style: none;
	position: relative;
	}	
nav ul li {
	display:inline-block;
	background-color: #FF4649;
	}
nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}
nav a:hover { 
	background-color: #333; 
}
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; 	
}	
nav ul li:hover &gt; ul {
	display:inherit;
}	
nav ul ul li {
	width:230px;
	float:none;
	display:list-item;
	position: relative;
}
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:230px;
}
nav ul ul li {
	border: 1px solid white;
}	
li &gt; a:after { content:  ' ▼'; }
li &gt; a:only-child:after { content: ''; }**/