{% extends 'blog/base.html' %}
{%  block custome-header %}
<!--چون هدر و فوتر در همه صفحات یکیه از این روش استفاده میکنیم و از طریق بیس اطلاعات را میخواند-->
<link rel="stylesheet" type="text/css" href="red.css">
{% endblock %}
<!--#عنوان در بالای تب-->
{% block title %} | {{article.title}} {% endblock %}
{% block main %}
<!-- Page Header-->
    <header class="masthead" style="background-image: url('{{article.thumbnail.url}}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>{{article.title}}</h1>
                        <time>{{article.jpublish}}</time>
                        <span class="subheading">صفحات طراحی شده با جنگو</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

<!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5 text-justify">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!--برای پاراگراف بندی خطوط از لاین بریک استفاده میکنیم-->
                    {{article.description|linebreaks}}
                </div>
            </div>
        </div>
    </article>
{% endblock%}